.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__content {
  display: flex;
  flex: 1;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 100px;
}

.app__content-main {
  flex: 1;
}

.app__content-sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  text-align: center;
}

.app__content-sidebar a {
  display: block;
  margin-bottom: 22px;
}

.app__footer {
  color: #005B96;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 100px;
  padding-right: 100px;
}

.app__footer a:hover {
  text-decoration: underline;
}

.app__header {
  display: flex;
  border-bottom: 2px #F3F6F9 solid;
  color: #005B96;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 100px;
}

.block {
  display: block;
}

.box-blue {
  display: block;
  width: 100%;
  background-color: #F1FAFE;
  color: #011F4B;
  padding: 18px 24px;
  border-radius: 10px;
}

.box-initials {
  display: flex;
  width: 43px;
  height: 43px;
  border-radius: 5px;
  background-color: #F6CA65;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 23px;
  color: #FFF;
  text-transform: uppercase;
}

.box-white {
  display: block;
  width: 100%;
  background-color: #FFF;
  color: #011F4B;
  padding: 26px 24px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.button-blue {
  text-align: center;
  background-color: #005B96;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 10px;
}

.cols-2 {
  display: flex;
  margin-left: -30px;
}

.cols-2 > div {
  width: 50%;
  padding-left: 30px;
}

.container-small {
  margin-left: auto;
  margin-right: auto;
  max-width: 470px;
}

.chart-wrapper-center {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
}

.header__center {
  flex: 1;
}

.header__logo {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.header__user {
  display: flex;
  align-items: center;
}

.img-center {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.label {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  margin-right: 30px;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-top: -8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mt15 {
  margin-top: 15px;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.page-content__content {
  flex: 1;
}

.page-content__content--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content__head {
  display: flex;
  align-items: flex-start;
}

.page-content__head-filters {
  display: flex;
  flex: 1;
  justify-content: right;
  text-align: right;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-content__head-text {
  margin-right: 30px;
}

.react-datepicker-wrapper {
  position: relative;
  width: 120px;
  background-color: #1BC5BD;
  padding-right: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.react-datepicker-wrapper::after {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 11px;
  height: 12px;
  margin-top: -6px;
  background-image: url(./assets/icon_calendar.svg);
  content: '';
}

.react-datepicker-wrapper input {
  border: 0;
  width: 100%;
  display: block;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.react-datepicker-wrapper input:focus {
  outline: none;
}

.react-datepicker-wrapper input::placeholder {
  color: #FFF;
}

.react-select {
  min-width: 150px;
}

.react-select .react-select__control {
  position: relative;
  cursor: pointer;
  color: #FFF;
  background-color: #1BC5BD;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  min-height: 0;
  font-weight: 400;
  text-align: left;
}

.react-select .react-select__control::after {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 14px;
  height: 10px;
  margin-top: -5px;
  background-image: url(./assets/icon_arrow_down.svg);
  content: '';
}

.react-select .react-select__indicators {
  display: none;
}

.react-select .react-select__input-container {
  padding: 0;
  margin: 0;
}

.react-select .react-select__menu {
  text-align: left;
}

.react-select .react-select__placeholder,
.react-select .react-select__single-value {
  color: #FFF;
}

.react-select .react-select__value-container {
  padding: 8px 35px 8px 14px;
}

.relative {
  position: relative;
}

.row-edges {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}
